<!DOCTYPE html>
<html>
  <head>
    <title>Database Normalizer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="prod/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div ng-app="dbNormalizer" ng-controller="appController">
      <textarea placeholder="Functional Dependencies go here..." ng-model="rawInput" style="width:400px;height:150px;"></textarea>
      <button type="submit" ng-click="normalize()">DO!</button>
      <h2>Attributes</h2>
      <ul>
        <li ng-repeat="attribute in functionalDependencies.attributeSet()">{{ attribute }}</li>
      </ul>
      <h2>Functional Dependencies</h2>
      <ul>
        <li ng-repeat="functionalDependency in functionalDependencies.elements">{{ functionalDependency.toString() }}</li>
      </ul>
      <h2>Single Right Hand Sides</h2>
      <ul>
        <li ng-repeat="functionalDependency in singleRightHandSides.elements">{{ functionalDependency.toString() }}</li>
      </ul>
      <h2>Min Cover: Merged Left Hand Sides</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
      <h2>Candidate Key for all Attributes</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
      <h2>All Candidate Keys(for small examples only)</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
      <h2>Dependency Preserving, 3NF Tables</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
      <h2>Lossless-Join, Dependency Preserving, 3NF tables</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
      <h2>All Candidate Keys(for small examples only)</h2>
      <ul>
        <li ng-repeat="functionalDependency in minCover.elements">{{ functionalDependency.lhs + " &#x2192; " + functionalDependency.rhs }}</li>
      </ul>
    </div>
    <script src="prod/script.js"></script>
  </body>
</html>